{% extends 'base.html' %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <link href="{% static 'css/myaccount.css' %}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حسابي</title>
</head>
<body>
<div class="container">

         <div class="row">
         <div class="col-sm d-flex justify-content-center  " onclick="location.href='{% url 'accounts:myaccount'%}';" >
             <button type="button" class="btn btn-light rbox"><i class="fas fa-address-card"></i>   معلومات الحساب   </button>

         </div>
           <div class="col-sm d-flex justify-content-center  " onclick="location.href='{% url 'accounts:myadds'%}';" style="cursor: pointer;"  >
             <button type="button" class="btn btn-light rbox"><i class="fas fa-ad"></i>  الإعلانات   </button>

         </div>


</div>


      	{% for x in ad%}
        <div class="add-container">
            <div  class="addbox" onclick="location.href='{% url 'list:details' x.id %}';" style="cursor: pointer;" >
      <div class="pic"><img src="" loading="lazy" width="270" sizes="(max-width: 479px) 98vw, (max-width: 767px) 166.203125px, 209.40625px" srcset="{{x.image.url}}" alt="" class="image"></div>
      <div class="add-detail">
        <div class="box-sec1">
         <div class="ad_name" >  {{x.title}} </div>

        </div>
        <div class="box-sec2">
          <div class="jeddah-text">{{x.city}} </div>
<!--          <div class="ratting">ratting</div>-->
        </div>
        <div class="box-sec3">
          <div class="text-block-7">{{x.username}}</div>
          <div class="add-box-pricebox">
            <div class="addbox-price"> {{x.price}} </div>
            <div class="text-block-6"> ريال</div>
          </div>
        </div>
      </div>


    </div>
            <div class="add_op">
                <button type="button" class="btn btn-danger">حذف</button>
                <button type="button" class="btn btn-warning" onclick="location.href='{% url 'list:update_add' x.id %}';" style="cursor: pointer;" >تعديل</button>
                <button type="button" class="btn btn-info">تحديث</button>

                </div>
        </div>


        {%endfor%}
  </div>

 </div>
</body>
</html>
{% endblock body %}